---
Checks: >
  -*,                                    
  clang-diagnostic-*,                    
  readability-braces-around-statements,  
  bugprone-*,                            
  google-runtime-int,                    
  misc-const-correctness,                
  modernize-use-pragma-once,             
  clang-analyzer-security.insecureAPI.*

WarningsAsErrors: "*"
