---
Language: C
BasedOnStyle: K&R
IndentWidth: 4
TabWidth: 4
UseTab: Never
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
